

<nav class="nav navigation border-top">
  <div class="container-fluid nav-border">
    <div id="menu-toggle">
      <div class="border-left border-dark search-form-section">
        <form class="search-form ml-2" action="{% url 'post-search'%}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="inp-sec">
            <i class="fas fa-search"></i>
            <input class="form-control" type="text" placeholder="Search" name="q">
          </div>
          <button class="btn btn-sm d-none" type="submit"></button>
        </form>
      </div>
    </div>

    <div class="logo">
      <a class="nav-link " href="{% url 'homepage' %}">
        <h2 class="mb-0 title text-white-50">Rate <span class="text-danger">My Work!</span></h2>
      </a>
    </div>
    {% if user.is_authenticated%}
    <div class="login-submit">
      <a href="{% url 'profile' %}" class="f-12 font-weight-bold mr-auto ml-auto nav-link text-white-50">Profile</a>
      <a href="{% url 'logout' %}"
        class="nav-link f-12 font-weight-bold px-4 h-100 d-flex align-items-center text-light">Logout</a>
      <a href="{% url 'new_post' %}"
        class="nav-link f-12 font-weight-bold px-4 h-100 d-flex align-items-center text-light">Submit Site</a>
    </div>
    {% else %}
    <div class="login-submit">
      <a href="{% url 'login' %}" class="f-12 font-weight-bold mr-3 ml-auto nav-link text-white-50">Register
        /Login</a>
      <a href="{% url 'new_post' %}"
        class="nav-link f-12 font-weight-bold px-4 h-100 d-flex align-items-center text-light">Submit Your Site</a>
    </div>
    {% endif %}
  </div>
</nav>
